# Executables
*.exe
*.out
*.app

# Build Directory
build/

# C tags
tags

# Vim
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Persistent undo
[._]*.un~

# MacOS
# General
.DS_Store
.AppleDouble
.LSOverride
